# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment variables
.env
*.env

# System files
.DS_Store
Thumbs.db

# confidential data
/input
/outputs
/old versions
